{{define "create-post"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/reset.css">
    <link rel="stylesheet" href="./static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap" rel="stylesheet">
    <title>Forum</title>
</head>
<body>
    {{ template "header" .Header}}
    <div class="create-post">
        <div class="create-form">
            <form action="/add-post" method="POST">  
                <div class="back-home">
                    <a href="/" class="back-home">Back on Home Page</a>
                </div>     
                <div class="start-discussion">
                    <span>What's on your mind?</span>
                </div>
                <div class="category-choose">
                    {{ range .Categories }}
                    <div class="checkbox-rect">
                        <input class="checkbox-spin" type="checkbox" id="{{ .Category }}" name="categories[]" value="{{ .Category }}">
                        <label for="{{ .Category }}">
                            {{ .Category }}
                        </label>
                    </div>
                    {{ end }}
                </div>
                <input type="text" id="title" name="title" placeholder="Post title ..." required> <br>
                <input type="text" id="content" name="content" placeholder="Post content ..." required> <br>
                {{ if .Header.LoggedInUser  }}
                <div class="submit-post">
                    <input class="submit" type="submit" value="Submit">
                </div>
                {{else}}
                <div class="login-to">
                    <p>Login to submit</p>
                </div>
                {{ end }}
                </form>
            </div>
        
    </div>
    <script src="../static/scripts.js"></script>
</body>
</html>
{{ end}}